<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{/ include file="common/header.html" username=$model->username pageselector=$model->page_selector/}
<div class="container">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="gradient-tabbar" style=""></div>
                <div class="subheader">
                    <div class="" id="tabs">
                        <a {/if $model->tab_selector=="index"/} class="active" {//if/} href="{/ $base_url /}/recommend">所有推荐</a>
                        <a {/if $model->tab_selector=="normal"/} class="active" {//if/} href="#" OnClick="Loginstate('{/$username/}','recommend/normal')">自主推荐</a>
                        <a {/if $model->tab_selector=="douban"/} class="active" {//if/} href="#" OnClick="Loginstate('{/$username/}','recommend/douban')">豆瓣推荐</a>
                        <a {/if $model->tab_selector=="mine"/} class="active" {//if/}  href="#" OnClick="Loginstate('{/$username/}','recommend/mine')">我的推荐</a>
                    </div>
                </div>

            </div>
            <div class="span12">
                <div class="group">

                    <div class="outer-space paragraphs-outer dig-index group">
                        <div class="paragraphs group">

                            <div class="row">
                                <div class="paragraph-item">
                                    <div class="span2">
                                        <div class="book-item-paragraph">
                                            <div class="book-img">
                                                <a href=""><img src={/$reader->image_url/} /></a>
                                            </div>
                                            <div class="large-cover-button">
                                                <a class="ui-widget ui-corner-all"><span class="free">{/$reader->band/}级</span></a>
                                            </div>
                                            <h5><a href="">已推荐{/$model->totalNum/}本 <small>by {/$reader->name/}</small></a></h5>
                                        </div>
                                    </div>
                                    <div class="span8">
                                        <div class="box paragraph-content">
      <span class="ribbon ribbon-blue ribbon-offset-left ribbon-offset-top ribbon-left">
        <p class="ribbon-inner">豆瓣推荐</p>
        <span class="ribbon-before"></span>
        <span class="ribbon-after"></span>
      </span>
                                            <h3><a >我来推荐一本书</a></h3>
                                            <div class="paragraph-content">
                                                <p>********************************************************************************</p>
                                                <p>{/$reader->user_motto/}</p>
                                                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    --by {/$reader->name/}
                                                </p>
                                                <p>********************************************************************************</p>
                                                <br>
                                                <form id="recommendBookForm" method="post" action="{/ $base_url /}/recommend/douban">
                                                    <p>
                                                        <label for="douban_url">
                                                            <small>豆瓣链接( * )</small>格式见示例
                                                        </label>
                                                        <input id="douban_url" type="text" aria-required="true" tabindex="1" size="22" placeholder="http://book.douban.com/subject/5288326/" value="" name="douban_url"/>
                                                    </p>
                                                    <p>
                                                        <input id="validate" type="submit" class="btn btn-primary" value="推荐">&nbsp;</input>
                                                        <a href="http://book.douban.com/" target="_blank">上《豆瓣读书》去搜搜~~</a>
                                                        <a style="display:none;" href="http://book.douban.com/" target="_blank"><font size="4" color="red">上《豆瓣读书》去搜搜~~</font></a>
                                                    </p>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/ include file="common/footer.html" /}
{/if $confirmbooks/}
{/ include file="recommend/confirm.html"  confirmbooks=$confirmbooks/}
{//if/}

<script type="text/javascript" src="{/$base_url/}/js/common/jquery.ui.draggable.js"></script>
<script type="text/javascript" src="{/$base_url/}/js/common/jquery.alerts.js"></script>
<link type="text/css" href="{/ $base_url /}/css/common/jquery.alerts.css" rel="stylesheet" />
<script type="text/javascript" language="javascript" >

$(document).ready(function(){
	/*
	*实现豆瓣链接的判断处理
	*/
	$('form#recommendBookForm input#validate').click(function(event){
		event.preventDefault();
		reg=/^http:\/\/book\.douban\.com\/subject\/\d+\/$/;
		var str = $("input#douban_url").val();
		if(!reg.test(str)){
		alert("我们解析的是形如\"http://book.douban.com/subject/21617698/\"豆瓣网址，请您确认","网址有误");
		location.reload();
		//window.location.href="{/$base_url/}/recommend/douban";
		}else{
		//jAlert("yes","du");
		$('#recommendBookForm').submit();		
		}
			});
});
</script>   
</html>
