<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{/ include file="common/header.html" username=$model->username pageselector=$model->page_selector/}
<SCRIPT type="text/javascript">
			function showExtra(id){
							$("span#shortened-"+id).click();
									return false;
										}				
								</SCRIPT>
<div class="container">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="gradient-tabbar" style=""></div>
                <div class="subheader">
                    <div class="" id="tabs">
                        <a {/if $model->tab_selector=="index"/} class="active" {//if/} href="{/ $base_url /}/recommend">所有推荐</a>
                        <a {/if $model->tab_selector=="normal"/} class="active" {//if/} href="#" OnClick="Loginstate('{/$username/}','recommend/normal')">自主推荐</a>
                        <a {/if $model->tab_selector=="douban"/} class="active" {//if/} href="#" OnClick="Loginstate('{/$username/}','recommend/douban')">豆瓣推荐</a>
                        <a {/if $model->tab_selector=="mine"/} class="active" {//if/}  href="#" OnClick="Loginstate('{/$username/}','recommend/mine')">我的推荐</a>
                    </div>
                </div>

            </div>
            <div class="span12">
                <div class="group">

                    <div class="outer-space paragraphs-outer dig-index group">
                        <div class="paragraphs group">

                            <div class="row">
                                <div class="paragraph-item">
                                    <div class="span2">
                                        <div class="book-item-paragraph">
                                            <div class="book-img">
                                                <a href=""><img src={/$reader->image_url/} /></a>
                                            </div>
                                            <div class="large-cover-button">
                                                <a class="ui-widget ui-corner-all"><span class="free">{/$reader->band/}级</span></a>
                                            </div>
                                            <h5><a >{/$reader->name/} <small>from {/$reader->department/}</small></a></h5>
                                        </div>
                                    </div>
                                    <div class="span8">
                                        <div class="box paragraph-content">
                                            {/if empty($recommendBooks)/}
                                            <h3>!!对不起，您还没有推荐呢，赶紧去推荐呗。。。
                                                <img src="{/ $base_url /}/images/1057880485.16813909.GIF" alt="图片地址有误">
                                            </h3>
                                            <hr>
                                            {/else/}
                                            {/foreach from=$recommendBooks key=k item=v/}
                                            <div class="first-dig-user">
                                                <a href="{/$v->book_url/}" target="_blank" title="由{/$v->author/}所著">
                                                    <img src={/$v->image_url/} alt="crude" width="100" height="128" />
                                                </a>
                                                <div class="large-cover-button">
                                                    <a class="ui-widget ui-corner-all">作者：{/$v->author/}</a>
                                                </div>
                                            </div>
       <span class="ribbon ribbon-blue ribbon-offset-left ribbon-offset-top ribbon-left">
        <p class="ribbon-inner">{/$v->book_name/}</p>
        <span class="ribbon-before"></span>
        <span class="ribbon-after"></span>
      </span>
                                            <h3><a href="{/$v->book_url/}" target="_blank">最是那惊鸿一瞥醉人心</a></h3>
                                            <div class="paragraph-content">
																								<span id="shortened-{/$v->recommend_id/}" class="shortened">{/$v->description.base/}</span>
                                                <span class="extra hide">{/$v->description.extra/}</span>
																								<a class="show-more" onclick='showExtra({/$v->recommend_id/});'>精彩多多...</a>
                                            </div>
                                            <hr>
                                            {//foreach/}
                                            <div class="pagination">
                                                <div class="pagination">
                                                    {/if isset($model->pagination) && $model->pagination/}
                                                    {/if $model->currentPage <=1/}<span class="disabled prev">‹‹ 上一页</span>
                                                    {/else/}<a href="{/ $base_url /}/recommend/{/$urltype/}/currentPage/{/$model->currentPage-1/}" class="page">‹‹ 上一页</a>
                                                    {//if/}
                                                    {/if $model->pagination.first/}<a href="{/ $base_url /}/recommend/{/$urltype/}/currentPage/1" class="page">首&nbsp;&nbsp;页</a>{//if/}
                                                    {/if $model->pagination.ltomission/}<span class="disabled">...</span>{//if/}
                                                    {/foreach from= $model->pagination.pageNums key=k item=v/}
                                                    {/if $v ==$model->currentPage /} <span class="current page">{/$v/}</span>
                                                    {/else/}<a href="{/ $base_url /}/recommend/{/$urltype/}/currentPage/{/$v/}" class="page">{/$v/}</a>
                                                    {//if/}
                                                    {//foreach/}
                                                    {/if $model->pagination.gtomission/}<span class="disabled">...</span>{//if/}
                                                    {/if $model->pagination.last/}<a href="{/ $base_url /}/recommend/{/$urltype/}/currentPage/{/$model->pagination.last/}" class="page">尾&nbsp;&nbsp;页</a>{//if/}
                                                    {/if $model->currentPage >=$model->totalPage/}<span class="disabled prev">下一页 ››</span>
                                                    {/else/}<a href="{/ $base_url /}/recommend/{/$urltype/}/currentPage/{/$model->currentPage+1/}" class="next">下一页 ››</a>
                                                    {//if/}
                                                    {//if/}
                                                </div>
                                            </div>
                                            {//if/}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/ include file="common/footer.html" /}
</html>
