<ul id="v-menu">
	
	<li>
		<a href="/view/example/i_comp.htm" target="iframe">首页：元素示例</a>
	</li>
	<li>
		<a>端到端的网络性能监测</a>
		<ul>
			<li><a href="/view/admin/3.1/TCP.htm" target="iframe">TCP</a></li>
			<li><a href="/view/admin/3.1/UDP.htm" target="iframe">UDP</a></li>
			<li><a href="/view/admin/3.1/ICMP.htm" target="iframe">ICMP</a></li>
			<li><a href="/view/admin/3.1/Trace.htm" target="iframe">Tracert</a></li>
			<li><a href="/view/admin/3.1/VPN.htm" target="iframe">IP VPN</a></li>
		</ul>
	</li>
	
	<li>
		<a>端到端互联网应用性能监测</a>
		<ul>
			<li><a href="/view/admin/3.2/FTP.htm" target="iframe">FTP</a></li>
			<li><a href="/view/admin/3.2/HTTP.htm" target="iframe">HTTP/HTTPS</a></li>
			<li><a href="/view/admin/3.2/DNS.htm" target="iframe">DNS</a></li>
			<li><a href="/view/admin/3.2/VOIP.htm" target="iframe">VOIP</a></li>
		</ul>
	</li>
	
	<li>
		<a href="/view/example/i_2col.htm" target="iframe">二栏布局</a>
	</li>
</ul>