<li class="user-quotes"><a data-placement="bottom" data-original-title="你今天还可以下载 &lt;span class=&#39;green&#39;&gt;5&lt;/span&gt; 本书，推送 &lt;span class=&#39;green&#39;&gt;10&lt;/span&gt; 本书"><span class="green">5</span> / <span class="green">10</span> </a></li>
<li class="dropdown">
	<a href="http://ikandou.com/accounts/profiles/basic/info/#" class="dropdown-toggle" data-toggle="dropdown" data-original-title="">
		<!-- <img class="profile-img-dropdown" src="http://www.gravatar.com/avatar/8bd0fe4193b2600ba79d22201f73567b?s=20"></img> -->
		eblib
		<b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
		<li><a href="http://ikandou.com/booklist/eblib" data-original-title="">我的读书单</a></li>
		<li><a href="./爱看豆 高质量电子书下载 推送 分享平台_files/爱看豆 高质量电子书下载 推送 分享平台.htm" data-original-title="">帐号设置</a></li>
		<li><a href="http://ikandou.com/accounts/pro/details/" data-original-title="">升级到<span class="badge">pro</span></a></li>
		<li><a href="http://ikandou.com/accounts/logout/" data-original-title="">注销</a></li>
	</ul>
</li>
