<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{/ include file="common/header.html" username=$model->username pageselector=$model->page_selector/}
<div class="container">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="gradient-tabbar" style="">
                    <form action="{/ $base_url /}/account" method="get" class="searchbox">
                        <input type="text" name="searchContent" placeholder="分类/书名/作者/isbn" id="id_q" />
                        <input type="submit" value="查询可预约图书" class="minibutton">
                    </form>
                </div>
                <div class="subheader">
                    <div class="" id="tabs">
                        <div class="" id="tabs">
                            <a {/if $model->tab_selector=="index"/} class="active" {//if/} href="{/ $base_url /}/account">预约图书</a>
                            <a {/if $model->tab_selector=="renew"/} class="active" {//if/}  href="{/ $base_url /}/account/renew">续借图书</a>
                            <a {/if $model->tab_selector=="recommend"/} class="active" {//if/}  href="{/ $base_url /}/account/recommend">我的推荐</a>
                            <a {/if $model->tab_selector=="set"/} class="active" {//if/}  href="{/ $base_url /}/account/set">个人设置</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span12">
                <div class="group">
                    <div class="row mbooks-outer group">
                        <div class="span2">
                            <h3>名言警句</h3>
                            <hr>
                            <ul class="section support-devices">
                                <small>谁念西风独自凉？萧萧黄叶闭疏窗，沉思往事立残阳。被酒莫惊春睡重，赌书消得泼茶香，当时只道是寻常，是寻常。</small>
                            </ul>
                            <h3>本周排行榜</h3>
                            <hr>
                            <div class="ranking">
                                {/foreach from=$params.rankBooks key=k item=v/}
                                <div class="rank-item group">
                                    <div class="rank number">
                                        {/$k+1/} .
                                    </div>
                                    <div class="rankbook group">
                                        <a href="{/ $base_url /}/detail/?bookid={/$v.book_id/}" title="{/$v.book_name/}">
                                            <img src="{/$v.image_url/}" />
                                            <h5>{/$v.book_name/}</h5>
                                        </a>
                                    </div>
                                </div>
                                {//foreach/}
                            </div>
                        </div>


                        <div class="span9">
                            <h3><a>已入囊中 &nbsp;</a></h3>
                            <hr>
                            <ol class="mbooks group ajaxReplace">
                                {/if empty($reserved_books)/}
                                <h3>!!貌似，您还没预约过，赶紧来预约吧。。。
                                    <img src="{/ $base_url /}/images/1057880485.16813909.GIF" alt="图片地址有误">
                                </h3>
                                <hr>
                                {/else/}
                                {/foreach from=$reserved_books key=k item=v/}
                                {/if ($k+1)%4==0/}
                                <li id="mbook-{/$v.book_id/}" class="group nomarginright">
                                    {/else/}
                                <li id="mbook-{/$v.book_id/}" class="group">
                                    {//if/}
                                    <div class="mbook-card">
                                        <div class="mbook-inner-card">
                                            <div class="mbook-img">
                                                <a href="{/ $base_url /}/detail?bookid={/$v.book_id/}">
                                                    <img src="{/$v.image_url/}" />
                                                </a>
                                            </div>
                                            <div class="large-cover-button">
                                                <a id="cancel-{/$v.book_id/}" class="ui-widget ui-corner-all ajaxUrl-cancel">
                                                    <span class="free">&nbsp;取消预约&nbsp;</span>
                                                </a>
                                            </div>
                                            <h5><a href="{/ $base_url /}/detail?bookid={/$v.book_id/}">{/$v.book_name/} </a> {/$v.author/}</h5>
                                        </div>
                                    </div>
                                </li>
                                {//foreach/}
                                <a style="display:none;" id= "ajaxCancelResrveUrl" href="{/$base_url/}/account/getCancelResrve/book_id/"></a>
                                {//if/}
                            </ol>

                            <h3><a>未入囊中 &nbsp;</a></h3>
                            <hr>
                            <ol class="mbooks group">
                                {/if empty($accessible_books)/}
                                <h3>!!灰常抱歉，根据您的输入{/$model->content/}我们木有找到书耶。。。
                                    <img src="{/ $base_url /}/images/1057880485.16813909.GIF" alt="图片地址有误">
                                </h3>
                                <hr>
                                {/else/}

                                {/foreach from=$accessible_books key=k item=v/}
                                {/if ($k+1)%4==0/}
                                <li id="mbook-{/$v.book_id/}" class="group nomarginright">
                                {/else/}
                                <li id="mbook-{/$v.book_id/}" class="group">
                                {//if/}
                                    <div class="mbook-card">
                                        <div class="mbook-inner-card">
                                            <div class="mbook-img">
                                                <a href="{/ $base_url /}/detail?bookid={/$v.book_id/}">
                                                    <img src="{/$v.image_url/}" />
                                                </a>
                                            </div>
                                            <div class="large-cover-button">
                                                <a id="reserve-{/$v.book_id/}" class="ui-widget ui-corner-all ajaxUrl-reserve">
                                                    <span class="free">&nbsp;&nbsp;预&nbsp;&nbsp;约&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <h5><a href="{/ $base_url /}/detail?bookid={/$v.book_id/}">{/$v.book_name/} </a> {/$v.author/}</h5>

                                        </div>
                                    </div>
                                </li>
                                {//foreach/}
                                <a style="display:none;" id= "ajaxAddReserveUrl" href="{/$base_url/}/account/getAddReserve/book_id/"></a>

                                {//if/}

                            </ol>
                            <div class="pagination"></div>
                            <div class="pagination">
                                <div class="pagination">
                                    {/if isset($model->pagination) && $model->pagination/}
                                    {/if $model->currentPage <=1/}<span class="disabled prev">‹‹ 上一页</span>
                                    {/else/}<a href="{/ $base_url /}/account/index/currentPage/{/$model->currentPage-1/}/searchContent/{/$model->contentUrl/}" class="page">‹‹ 上一页</a>
                                    {//if/}
                                    {/if $model->pagination.first/}<a href="{/ $base_url /}/account/index/currentPage/1/searchContent/{/$model->contentUrl/}" class="page">首&nbsp;&nbsp;页</a>{//if/}
                                    {/if $model->pagination.ltomission/}<span class="disabled">...</span>{//if/}
                                    {/foreach from= $model->pagination.pageNums key=k item=v/}
                                    {/if $v ==$model->currentPage /} <span class="current page">{/$v/}</span>
                                    {/else/}<a href="{/ $base_url /}/account/index/currentPage/{/$v/}/searchContent/{/$model->contentUrl/}" class="page">{/$v/}</a>
                                    {//if/}
                                    {//foreach/}
                                    {/if $model->pagination.gtomission/}<span class="disabled">...</span>{//if/}
                                    {/if $model->pagination.last/}<a href="{/ $base_url /}/account/index/currentPage/{/$model->pagination.last/}/searchContent/{/$model->contentUrl/}" class="page">尾&nbsp;&nbsp;页</a>{//if/}
                                    {/if $model->currentPage >=$model->totalPage/}<span class="disabled prev">下一页 ››</span>
                                    {/else/}<a href="{/ $base_url /}/account/index/currentPage/{/$model->currentPage+1/}/searchContent/{/$model->contentUrl/}" class="next">下一页 ››</a>
                                    {//if/}
                                    {//if/}
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/ include file="common/footer.html" /}
<script type="text/javascript" src="{/$base_url/}/js/common/jquery.ui.draggable.js"></script>
<script type="text/javascript" src="{/$base_url/}/js/common/jquery.alerts.js"></script>
<link type="text/css" href="{/ $base_url /}/css/common/jquery.alerts.css" rel="stylesheet" />

<SCRIPT type="text/javascript">
    $(document).ready(function () {
        /*
         *实现图书搜索结果中的“预约”按钮功能
         *edit by xuxiaolong 2013/8/5
         */
        $('div.mbook-inner-card div.large-cover-button a.ajaxUrl-reserve').click(function(event){
            event.preventDefault();
            var inputId = $(this).attr("id");
            var id = inputId.substring(8,inputId.length);
            var url = $('a#ajaxAddReserveUrl').attr("href");
            var Days = 30;
            var exp = new Date();
            exp.setTime(exp.getTime() + Days*24*60*60*1000);
            $.getJSON(url+id, function(result){
                if(result =="no"){
                    jAlert('每个人最多可预约10本书，您已达上限啦！', '预约告警');
                }else{
                    $('#reserve-'+id).replaceWith("<span class='disabled'><font size='4' color='#CC0000'>预约成功</font></span>");
                    $('ol.ajaxReplace').html(result);
                    //document.execCommand('Refresh');
                    //document.cookie=id+"="+"yes;path=/yiieblib/web;expires="+exp.toGMTString();
                    parent.location.reload();
                }
            });
        });

        /*
         *实现图书搜索结果中的“取消”按钮功能
         *edit by xuxiaolong 2013/8/5
         */
        $('div.mbook-inner-card div.large-cover-button a.ajaxUrl-cancel').click(function(event){
            event.preventDefault();
            var inputId = $(this).attr("id");
            var id = inputId.substring(7,inputId.length);
            var url = $('a#ajaxCancelResrveUrl').attr("href");
            $.getJSON(url+id, function(result){
                jAlert('您已取消对该书的预约', '取消知会');
                $('ol.ajaxReplace').html(result);
                //document.execCommand('Refresh');
                parent.location.reload();
            });
        });

    });
</SCRIPT>
</html>
