<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{/ include file="common/header.html" username=$model->username pageselector=$model->page_selector/}
<SCRIPT type="text/javascript">
			function showExtra(id){
							$("span#shortened-"+id).click();
									return false;
										}				
								</SCRIPT>
<div class="container">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="gradient-tabbar" style=""></div>
                <div class="subheader">
                    <div class="" id="tabs">
                        <a {/if $model->tab_selector=="index"/} class="active" {//if/} href="{/ $base_url /}/account">预约图书</a>
                        <a {/if $model->tab_selector=="renew"/} class="active" {//if/}  href="{/ $base_url /}/account/renew">续借图书</a>
                        <a {/if $model->tab_selector=="recommend"/} class="active" {//if/}  href="{/ $base_url /}/account/recommend">我的推荐</a>
                        <a {/if $model->tab_selector=="set"/} class="active" {//if/}  href="{/ $base_url /}/account/set">个人设置</a>
                    </div>
                </div>

            </div>
            <div class="span12">
                <div class="group">

                    <div class="outer-space paragraphs-outer dig-index group">
                        <div class="paragraphs group">

                            <div class="row">
                                <div class="paragraph-item">
                                    <div class="span2">
                                        <div class="book-item-paragraph">
                                            <div class="book-img">
                                                <a href=""><img src={/$reader->image_url/} /></a>
                                            </div>
                                            <div class="large-cover-button">
                                                <a class="ui-widget ui-corner-all"><span class="free">{/$reader->band/}级</span></a>
                                            </div>
                                            <h5><a >{/$reader->name/} <small>from {/$reader->department/}</small></a></h5>
                                        </div>
                                    </div>
                                    <div class="span8">
                                        <div class="box paragraph-content">
                                            {/if empty($renewBooks)/}
                                            <h3>!!您当前借阅图书为空，快去借阅吧。。。
                                                <img src="{/ $base_url /}/images/1057880485.16813909.GIF" alt="图片地址有误">
                                            </h3>
                                            <hr>
                                            {/else/}
                                            {/foreach from=$renewBooks key=k item=v/}
                                            <div class="first-dig-user">
                                                <a href="" target="_blank" title="由{/$v.author/}所著">
                                                    <img src={/$v.image_url/} alt="crude" width="100" height="128" />
                                                </a>
                                                <div class="large-cover-button">
                                                    <a class="ui-widget ui-corner-all">作者：{/$v.author/}</a>
                                                </div>
                                            </div>
       <span class="ribbon ribbon-blue ribbon-offset-left ribbon-offset-top ribbon-left">
        <p class="ribbon-inner">{/$v.book_name/}</p>
        <span class="ribbon-before"></span>
        <span class="ribbon-after"></span>
      </span>
                                            <h3><a href="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></h3>
                                            <div class="paragraph-content">
                                                <h3><a href="">借阅信息:</a></h3>
                                                <p>*****************************************************************</p>
                                                <p>{/$v.borrow_date/}<b><借></b> ~<span id="return-{/$v.book_id/}">{/$v.return_date/}</span><b><应还></b>&nbsp;&nbsp;&nbsp;
                                                    {/if $model->params[$k].expired=='allow'/}
                                                    <input id="renew-{/$v.book_id/}" type="submit" value="&nbsp;续&nbsp;&nbsp;&nbsp;借&nbsp;" class="btn btn-primary ajaxUrl-selector" title="续借">
                                                    {/elseif $model->params[$k].expired=='notallow'/}
                                                    <span class="disabled"><font size="3" color="red">.已过期.</font></span>
													{/elseif $model->params[$k].expired=='max'/}
                                                    <span class="disabled"><font size="3" color="red">..续借达上限..</font></span>
													{/else/}
													{//if/}
                                                </p>
                                                <p>*****************************************************************</p>
                                                <h3><a href="">书籍回味:</a></h3><br>
																								<span id="shortened-{/$k/}"  class="shortened">{/$model->params[$k].base/}</span>
                                                <span class="extra hide">{/$model->params[$k].extra/}</span>
																								<a class="show-more" onclick='showExtra({/$k/});'>更多介绍...</a>
                                            </div>
                                            <br><br>
                                             <hr>
                                            {//foreach/}
                                            <a style="display:none;" id= "ajaxRenewUrl" href="{/$base_url/}/account/getRenew/book_id/"></a>
                                            <div class="pagination">
                                                <div class="pagination">
                                                </div>
                                            </div>
                                            {//if/}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/ include file="common/footer.html" /}
<script type="text/javascript" src="{/$base_url/}/js/common/jquery.ui.draggable.js"></script>
<script type="text/javascript" src="{/$base_url/}/js/common/jquery.alerts.js"></script>
<link type="text/css" href="{/ $base_url /}/css/common/jquery.alerts.css" rel="stylesheet" />
<SCRIPT type="text/javascript">
    $(document).ready(function () {
        /*
         *实现图书搜索结果中的“续借”按钮功能
         *edit by xuxiaolong 2013/8/5
         */
        $('div.paragraph-content input.ajaxUrl-selector').click(function(event){
            event.preventDefault();
            var inputId = $(this).attr("id");
            var id = inputId.substring(6,inputId.length);
            var url = $('a#ajaxRenewUrl').attr("href");
            $.getJSON(url+id, function(result){
                if(result.isreserve){
                    jAlert("sorry ! 该书已被预约","续借失败");
                }else{
                    $('#renew-'+id).replaceWith("<span class='disabled'><font size='4' color='#CC0000'>续借成功</font></span>");
                    $('#return-'+id).text(result.newtime);
                }
            });
        });
    });
</SCRIPT>
</html>
