<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{/ include file="common/header.html" username=$model->username pageselector=$model->page_selector/}
{/include file="account/validate.html"/}
<div class="container">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="gradient-tabbar" style=""></div>
                <div class="subheader">
                    <div class="" id="tabs">
                        <a {/if $model->tab_selector=="index"/} class="active" {//if/} href="{/ $base_url /}/account">预约图书</a>
                        <a {/if $model->tab_selector=="renew"/} class="active" {//if/}  href="{/ $base_url /}/account/renew">续借图书</a>
                        <a {/if $model->tab_selector=="recommend"/} class="active" {//if/}  href="{/ $base_url /}/account/recommend">我的推荐</a>
                        <a {/if $model->tab_selector=="set"/} class="active" {//if/}  href="{/ $base_url /}/account/set">个人设置</a>
                    </div>
                </div>

            </div>
            <div class="span12">
                <div class="group">

                    <div class="outer-space paragraphs-outer dig-index group">
                        <div class="paragraphs group">

                            <div class="row">
                                <div class="paragraph-item">
                                    <div class="span2">
                                        <div class="book-item-paragraph">
                                            <div class="book-img">
                                                <a href="#"><img src={/$reader->image_url/} /></a>
                                            </div>
                                            <div class="large-cover-button">
                                                <a class="ui-widget ui-corner-all"><span class="free">{/$reader->band/}级</span></a>
                                            </div>
                                            <h5><a >{/$reader->name/} <small>from {/$reader->department/}</small></a></h5>
                                        </div>
                                    </div>
                                    <div class="span8">
                                        <div class="box paragraph-content">
                                        
      <span class="ribbon ribbon-blue ribbon-offset-left ribbon-offset-top ribbon-left">
        <p class="ribbon-inner">修改密码</p>
        <span class="ribbon-before"></span>
        <span class="ribbon-after"></span>
      </span>
                                            <h3>[说明]&nbsp;请保存好自己的密码，忘记原密码请。。<a href="{/ $base_url /}/login/resetPassWord" target="_blank">&nbsp;点击重置&nbsp;</a></h3>
                                            <div class="paragraph-content">
                                                <form  id="changePasswordForm" method="post" action="{/ $base_url /}/login/UpdatePassword">
                                                    <p>
                                                        <label for="pre_password">
                                                            <small>请输入原密码<font color="red" size="2">（*）</font></small>
                                                        </label>
                                                        <input id="pre_password" type="password" aria-required="true" tabindex="1" size="20" value="" name="pre_password" />
                                                        <span id="pre_password_error" class="required"></span>
                                                    </p>

                                                    <p>
                                                        <label for="password">
                                                            <small>请输入新密码<font color="red" size="2">（*）</font></small>
                                                        </label>
                                                        <input id="password" type="password" aria-required="true" tabindex="1" size="20" value="" name="password" />
                                                        <span id="password_error" class="required"></span>
                                                    </p>

                                                    <p>
                                                        <label for="password2">
                                                            <small>再次输入新密码<font color="red" size="2">（*）</font></small>
                                                        </label>
                                                        <input id="password2" type="password" aria-required="true" tabindex="1" size="20" value="" name="password2" />
                                                        <span id="password2_error" class="required"></span>
                                                    </p>

                                                    <p>
                                                        <input id="submit" class="ui-button ui-widget ui-corner-all like-paragraphs-ajax" type="submit" value=" &nbsp;&nbsp;提 &nbsp;&nbsp;交 &nbsp;&nbsp;" OnClick="validate();" tabindex="5" name="submit" />
                                                    </p>
                                                </form>
                                            </div>
                                            <hr/>
                                            
      <span class="ribbon ribbon-blue ribbon-offset-left ribbon-offset-top ribbon-left">
        <p class="ribbon-inner">我的座右铭</p>
        <span class="ribbon-before"></span>
        <span class="ribbon-after"></span>
      </span>
                                            <h3><a >一句喜欢的、激励的话语，每一次浏览都是那么温馨</a></h3>
                                            <div class="paragraph-content">
                                                <form  method="post" action="{/ $base_url /}/account/changeMotto">
                                                    <p>
                                                        <label for="my_motto">
                                                            我的座右铭
                                                        </label>
                                                        <textarea id="my_motto" name="my_motto" cols ="20" rows = "2" placeholder="{/$reader->user_motto/}

如果您想修改，请在此输入..."></textarea>
                                                    </p>

                                                    <p>
                                                        <input id="submit" class="btn btn-primary" type="submit" OnClick="document.submitForm.submit();" value=" &nbsp;&nbsp;保 &nbsp;&nbsp;存 &nbsp;&nbsp;" tabindex="5" name="submit" />
                                                    </p>
                                                    <a style="display:none;" id= "checkBookUrl" href=""></a>
                                                </form>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/ include file="common/footer.html" /}
</html>
