<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
  <title>一般人我会告诉么</title>
  <style type="text/css">
body {
    background-color: #999900;
    background-repeat: no-repeat
}
</style>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="{/$base_url/}/view/secret/css/ad.css"></link >
	<link rel="stylesheet" href="{/$base_url/}/view/secret/css/controls-apple.css" type="text/css"></link>
  <script type="text/javascript" src="{/$base_url/}/view/secret/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="{/$base_url/}/view/secret/js/floatingAd.js"></script>
	<script type="text/javascript">
	$(function(){
		$.floatingAd({
			//频率
			delay: 60,
			//超链接后是否关闭漂浮
			isLinkClosed: true,
			//漂浮内容
			ad:	[{
				//关闭区域背景透明度(0.1-1)
				headFilter: 0.3,
				//图片
				'img': '{/$base_url/}/view/secret/images/005.jpg',
				//图片高度
				'imgHeight': 220,
				//图片宽度
				'imgWidth': 176,
				//图片链接
				'linkUrl': 'http://10.1.70.149:9002/yiieblib/web/library',
				//浮动层级别
				'z-index': 100,
				//标题
				'title': '哈哈'
			},
			{
				'img': '{/$base_url/}/view/secret/images/003.jpg',
				'imgHeight': 220,
				'imgWidth': 176,
				'linkUrl': 'http://10.1.70.149:9002/yiieblib/web/library',
				'z-index': 101,
				'title': '嘻嘻',
				//关闭按键图片
				'closed-icon': 'http://cdn1.iconfinder.com/data/icons/oxygen/16x16/actions/list-remove.png'
			}],
			//关闭事件
			onClose: function(elem){
				alert('关闭');
			}
		});
		$("#aa").floatingAd({
			onClose: function(elem){
			}
		});
	});
	</script>
  </head>
  <body style="height: 95%;width: 95%;">
  <p align="center"><font size="7" color="#660000">难得轻松一下</font></p>
  <div style="width:100%;height:100%;position:absolute;z-index:-1;top:0px;left: -2px">
      <img src="{/$base_url/}/view/secret/images/001.jpg" width="100%" height="100%" >
  </div>
  </body>
</html>
