<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{/ include file="common/header.html" username=$username pageselector=$pageselector/}
<div class="container">

    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="gradient-tabbar" style=""></div>
            </div>
            <div class="span12">
                <div class="group">
                    <div class="blog outer-space">
                        <div class="faq">
                            <h3>常见问题 </h3>
                            <hr>
                            <div class="accordion" id="accordion2">
                                <div class="accordion-group" id="#faq-2">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#faq-2">
                                            初始用户名和密码？
                                        </a>
                                    </div>
                                    <div id="faq-2" class="accordion-body collapse ">
                                        <div class="accordion-inner">
                                            用户名：您的工号  密码：123456
                                            <br>
                                            可在“用户管理”->“个人设置”进行密码修改；忘记密码可在登录时重置。
                                            </br>
                                        </div>
                                    </div>
                                </div>

							<div class="accordion-group" id="#faq-3">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#faq-3">
                                            如何搜索图书？
                                        </a>
                                    </div>
                                    <div id="faq-3" class="accordion-body collapse ">
                                        <div class="accordion-inner">
                                            首页列出的即为所有图书，可翻页查看；搜索请在左上角搜索框内输入关键字按回车即可。
                                            目前支持的分类有：数据库，人文，计算机网络，程序设计，web项目等。
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-group" id="#faq-4">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#faq-4">
                                            图书馆在哪？
                                        </a>
                                    </div>
                                    <div id="faq-4" class="accordion-body collapse ">
                                        <div class="accordion-inner">
                                            坤讯大厦七层7A书架。
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-group" id="#faq-5">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#faq-5">
                                            如何借书？如何还书？
                                        </a>
                                    </div>
                                    <div id="faq-5" class="accordion-body collapse ">
                                        <div class="accordion-inner">
                                            借书：从书架上取下书，到管理员处登记即可。
                                            <br>
                                            还书：还至管理员处即可。
                                            </br>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-group" id="#faq-6">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#faq-6">
                                            借阅期限是多少？如何续借？
                                        </a>
                                    </div>
                                    <div id="faq-6" class="accordion-body collapse ">
                                        <div class="accordion-inner">
                                            默认借阅期限为一个月，可以续借，需在到期日10天日以内登陆系统，在“用户管理”->“续借图书”处
                                            可以查看到所借图书的信息，点击“续借”即可。每次续借延长15天，可续借两次。
                                            <br>
                                            友情提醒：被预约的图书不可续借，已过期的图书请及时归还，若想继续看，请联系管理员重新登记一下。
                                            </br>
                                        </div>
                                    </div>
                                </div>


                                <div class="accordion-group" id="#faq-7">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#faq-7">
                                            如何预约？
                                        </a>
                                    </div>
                                    <div id="faq-7" class="accordion-body collapse ">
                                        <div class="accordion-inner">
                                            “用户管理”->“预约图书”中“未入囊中”的图书均为可预约的图书，点击预约即可。
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-group" id="#faq-8">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#faq-8">
                                            如何推荐一本书？
                                        </a>
                                    </div>
                                    <div id="faq-8" class="accordion-body collapse ">
                                        <div class="accordion-inner">
                                            请先登录，进入“新书推荐”，有两种推荐方式：自主推荐和豆瓣推荐。您可选择任一种形式进行推荐。
                                            <br>
                                            自主推荐：输入图书名称和书ISBN号即可推荐；
                                            </br>

                                            豆瓣推荐：从豆瓣读书寻找推荐的图书，并将图书的链接复制到输入栏即可。

                                            <br>
                                            友情提醒：您推荐的图书将会出现在“我的推荐”和“所有推荐”板块，喜欢别人的推荐可以热情一顶哦~
                                            </br>
                                        </div>
                                    </div>
                                </div>



<!--
                                <div class="accordion-group" id="#faq-9">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#faq-9">
                                            iPhone, iPad, Kindle, Android 上我应该使用什么软件阅读爱看豆上的书籍
                                        </a>
                                    </div>
                                    <div id="faq-9" class="accordion-body collapse ">
                                        <div class="accordion-inner">
                                            <p>爱看豆提供epub和mobi两种格式的电子书下载。mobi格式的电子书只有Amazon支持，所以你可以下载 Kindle 阅读器 (for iPhone, iPad, Android)</p>

                                            <p>epub格式的电子书是一个开放格式，我们更推荐使用epub阅读器阅读爱看豆上的电子书。</p>

                                            <p>Android用户可以考虑安装使用 <a href="http://www.aldiko.com/download.html">aldiko阅读器</a>,功能非常强大。</p>

                                            <p>iPhone, iPad上的epub阅读器很多，但是好用的很少，还是推荐使用Kindle阅读器</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-group" id="#faq-8">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#faq-8">
                                            爱看豆有提供推送到Kindle的计划吗？
                                        </a>
                                    </div>
                                    <div id="faq-8" class="accordion-body collapse ">
                                        <div class="accordion-inner">
                                            我们很快便会提供推送到Kindle的功能，同时也会提供推送到Ipad/Iphone的功能，敬请期待。

                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-group" id="#faq-3">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#faq-3">
                                            什么是公共版权书籍
                                        </a>
                                    </div>
                                    <div id="faq-3" class="accordion-body collapse ">
                                        <div class="accordion-inner">
                                            一部文学或艺术作品，只要著作权权利保护期终止，就算进入了公有领域，即成为公共版权书籍。 《伯尔尼条约》将版权保护最低期限规定为作者有生之年及其死后50年，我国也加入该公约，默认版权保护年限50年。如果按照2013年来算，1963年之前去逝作者出版的书籍即进入了公有领域。

                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-group" id="#faq-4">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#faq-4">
                                            我制作的每本公版书爱看豆会付费多少给我
                                        </a>
                                    </div>
                                    <div id="faq-4" class="accordion-body collapse ">
                                        <div class="accordion-inner">
                                            一部三国演义大约有48万字，我们给制作者付费¥10。对于其他类型的字数较少的作品，每一万字付费¥1，总付费金额不会超过¥10。一般来讲，一部正常的长篇小说字数总会大于10万字，所以你会获得¥10的报酬。对于小的短篇以及散文，一般都会在4万字到5万字之间，所以会大约付费¥4－¥5给你。

                                            我们会统计精确的字数，并按照校对字数付费给你。
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-group" id="#faq-5">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#faq-5">
                                            爱看豆在什么时候通过什么途径支付给我
                                        </a>
                                    </div>
                                    <div id="faq-5" class="accordion-body collapse ">
                                        <div class="accordion-inner">
                                            我们会在每两个月的月末（1,3,5,7,9,11月份）通过支付宝转帐给你，为了避免过多的转帐次数，我们需要你的帐户上有大于¥100的收入。如果小于¥100,你仍然可以使用这笔现金在爱看豆上购买电子书或者会员。

                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-group" id="#faq-16">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#faq-16">
                                            爱看豆对制作的电子书有什么要求
                                        </a>
                                    </div>
                                    <div id="faq-16" class="accordion-body collapse ">
                                        <div class="accordion-inner">
                                            爱看豆需要制作者对电子书进行精校和精排。其中精校是我们审核时候非常重视的一个要求（既保证内容的完整，极少的错字，繁简字体统一，标点全角半角的统一等）。具体的审核规范可以参见<a href="http://ikandou.com/guidelines/">爱看豆电子书精校规范</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-group" id="#faq-6">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#faq-6">
                                            有没有关于如何制作电子书的教程
                                        </a>
                                    </div>
                                    <div id="faq-6" class="accordion-body collapse ">
                                        <div class="accordion-inner">
                                            你可以在Alpha电子阅读论坛找到一分详细的<a href="http://9.ikandou.com/viewtopic.php?f=6&t=22" target="_blank">电子书制作教程</a>。

                                        </div>
                                    </div>
                                </div>
-->
                            </div>

                            <div class="header">
                                <h3>仍然没有解决你的问题？</h3>
                                <p>如果你仍然没有找到你需要问题的答案，可以写邮件<a href="mailto:houyihan@ebupt.com">联系我们</a>。我们非常乐意回答你的问题。</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
{/ include file="common/footer.html" /}
</html>
