/* 
iframe页面布局
*/
html{height:100%;overflow-x: hidden; overflow-y: auto;}
body{height:100%;overflow-x:hidden;height:auto;background:#fff;padding:6px;}

#main{overflow:auto;zoom:1;}
	.main-unit{position:relative;border:1px solid #ccc;background:#fff;margin-bottom:7px;background:url('../images/bg_main_unit_f.png') left bottom repeat-x #fff;border-bottom:1px solid #bbb;
	-webkit-border-bottom-right-radius: 4px;-moz-border-bottom-right-radius: 4px;border-bottom-right-radius: 4px;-webkit-border-bottom-left-radius: 4px;-moz-border-bottom-left-radius: 4px;border-bottom-left-radius: 4px;}
	.main-unit:last-child{margin-bottom:0px;}

	.main-unit .header{line-height:26px;background:url('../images/sprite1.png') 0px -52px repeat-x;color:#444;}
	.main-unit .header span{padding-left:7px;font-weight:bold;text-shadow:0px 1px 0px #f0f0f0;}
	.unit-container{padding:10px 10px 0px 10px;zoom:1;overflow:auto;}
	.main-unit h4{padding:6px 6px 6px 6px;font-size:14px;}
	.main-unit h5{padding:6px 0;font-size:12px;font-weight:bold;}
	.main-unit hr{height:1px;border:none;border-bottom:1px solid #ddd;}